# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
*.ipdb
*.pdb
*.log
*.tlog
*.opendb
*.cache
*.kzproj_*
*.autosave
*.exp
*.ilk
*VC.db
*/output
*/output/*
*.db
*.suo
compressed
cubemaps
mipmaps
thumbnails
Binary